[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
gunicorn = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
psycopg2 = "*"
django = "==4.1"
sentry-sdk = "*"

[dev-packages]

[requires]
python_version = "3.10"
